<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="no.nc_spectrum.hendelseapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/CustomActionBarTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/CustomActionBarTheme.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EventTabsActivity"
            android:label="@string/eventtabs_label"
            android:theme="@style/CustomActionBarTheme.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="no.nc_spectrum.EventTabsActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/settings_label"
            android:theme="@style/CustomActionBarTheme.NoActionBar"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="no.nc_spectrum.hendelseapplication.EventTabsActivity" />

            <intent-filter>
                <action android:name="no.nc_spectrum.SettingsActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".EventInfoActivity"
            android:screenOrientation="portrait"
            android:label="@string/eventinfo_label"/>
    </application>

</manifest>