<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="no.nc_spectrum.hendelseapplication">

    <uses-sdk android:minSdkVersion="21"
        android:targetSdkVersion="25"
        />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ncs_applogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/CustomActionBarTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/CustomActionBarTheme.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EventTabsActivity"
            android:label="@string/eventtabs_label"
            android:theme="@style/CustomActionBarTheme.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="no.nc_spectrum.EventTabsActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/settings_label"
            android:theme="@style/CustomActionBarTheme.NoActionBar"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="no.nc_spectrum.hendelseapplication.EventTabsActivity" />

            <intent-filter>
                <action android:name="no.nc_spectrum.SettingsActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".EventInfoActivity"
            android:theme="@style/CustomActionBarTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:label="@string/eventinfo_label"/>
        <service android:name=".UpdateCheck"/>
        <receiver android:name=".RestartUpdateChecker"
            android:enabled="true"
            android:exported="true"
            android:label="RestartCheckWhenStopped">
            <intent-filter>
                <action android:name="nc_spectrum.hendelsesapplication.no.ActivityRecognition.RestartCheck"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>